[submodule "lib/multipattern"]
	path = lib/multipattern
	url = https://github.com/andr-ew/multipattern
[submodule "lib/crops"]
	path = lib/crops
	url = https://github.com/andr-ew/crops
[submodule "lib/pattern_time"]
	path = lib/pattern_time
	url = https://github.com/andr-ew/pattern_time
[submodule "lib/yolk"]
	path = lib/yolk
	url = https://github.com/andr-ew/yolk
[submodule "lib/produce"]
	path = lib/produce
	url = https://github.com/andr-ew/produce
